# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. C++
6. JavaScript

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Scit-it Learn
4. Matplotlib
5. Seaborn
6. Plotly
7. Tensorflow
8. SciPy
9. PyTorch
10. Keras

|Data Science Tools|
|------|
|Jupyter Notebook|
|R Studio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print("200 minutes is equal to " + str(hours) + " hours")

200 minutes is equal to 3.3333333333333335 hours

**Objectives:**
- Listing popular languages for Data Science
- Learning how to create tables, titles, code cells and markdown cells
- Defining variables 
- Using arithmetic operators in Python
- Creating new Jupyter Notebook File

## Author
OÄŸuzalp Erkovan